body {
    background-image: url("../assets/images/background.jpg");
}

#champions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.logo {
    display: flex;
    justify-content: center;
}

.card {
    font-family: DejaVu Sans Mono, monospace;
    border: 2px solid rgb(228, 195, 12);
    background-color: rgba(179, 179, 179, 0.836);
    text-align: center;
    margin: 5px;
}

.card:hover {
    display: inline-block;
    animation: resizeChamp 1s;
    animation-fill-mode: forwards;
}
  
@keyframes resizeChamp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.07);
  }
}
  


.champ_name{
    color: gold;
    background-image: linear-gradient(rgb(92, 138, 179), rgb(158, 121, 65));
}

.champ_title{
    color: gold;
    background-image: linear-gradient(rgb(158, 121, 65), rgb(91, 37, 122));
}

.Fighter {
    background-color: rgb(204, 0, 0);
}

.Mage {
    background-color: rgb(0, 140, 255);
}

.Marksman {
    background-color: rgb(55, 138, 0);
}

.Assassin {
    background-color: rgb(189, 0, 94);
}

.Tank {
    background-color: rgb(78, 57, 57);
}

.Support {
    background-color: rgb(230, 199, 62);
}

.champ_stats{
    background-image: radial-gradient(circle, rgb(149, 167, 46), rgb(50, 143, 104));
}