body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    height: 100vh;
    background-image: linear-gradient(red, rgb(209, 209, 0));
}

.cover {
    height: 200px;
    width: 200px;
    background: aqua;
    border: 1px solid black;
    background-size: cover;
}

.cv1 {
    background-image: url("../assets/img/Cover1_kiryu.png");
}

.cv2 {
    background-image: url("../assets/img/Cover2_gaiden.jpeg");
    background-position: 256px;
}

.cv3 {
    background-image: url("../assets/img/Cover3_yi_jian_mei.jpg");
}